<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Color_Illusion/src/stepping_Feet/Color_Illusion.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="stepping_Feet.Color_Illusion"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Color_Illusion"/>
</launchConfiguration>
